@charset "utf-8";

.box{ display: block; width: 100px; height: 100px; background: #00F; border: 1px solid #000;
    -webkit-transition: all 0.5s linear;
    -webkit-transform: translate(100px,50px);}
.box:hover{ background: #F00;
    -webkit-transform: translate(100px,50px) scale(1.1) rotate(30deg);
}